<article
  class="
    w-full bg-white p-4 rounded-lg rounded-b-none border border-b-0
    border-slate-200 overflow-clip self-end
  "
>
  <div class="flex flex-col gap-4">
    <div class="bg-white -mx-4 -mt-4 p-4">
      <h2 class='font-bold text-xl'>Hello, customer!</h2>
      <p>Let's get your order started!</p>
    </div>
    <section>
      <ul class="flex flex-col gap-2">
        <li class="">
          <%= meal_order_step_link_to(
                new_meal_order_meal_order_burger_path(meal_order_id: @meal_order.id),
                completed: @meal_order.meal_order_burger.present?
              ) do %>
            <span>Add a Burger</span>
          <% end %>
        </li>
        <li class="">
          <a href="" class="flex justify-between gap-2 items-center border border-slate-200 rounded-md py-4 px-6 has-[:checked]:bg-lime-100 has-[:checked]:text-lime-900 has-[:checked]:border-lime-500">
            <span>Add some Fries</span>
            <div
              class="
                h-5 w-5 shrink-0 border-2 border-dashed border-slate-400
                rounded-full
              "
            ></div>
          </a>
        </li>
        <li class="">
          <a href="" class="flex justify-between gap-2 items-center border border-slate-200 rounded-md py-4 px-6 has-[:checked]:bg-lime-100 has-[:checked]:text-lime-900 has-[:checked]:border-lime-500">
            <span>Add a Drink</span>
            <div
              class="
                h-5 w-5 shrink-0 border-2 border-dashed border-slate-400
                rounded-full
              "
            ></div>
          </a>
        </li>
        <li class="">
          <a href="" class="flex justify-between gap-2 items-center border border-slate-200 rounded-md py-4 px-6 has-[:checked]:bg-lime-100 has-[:checked]:text-lime-900 has-[:checked]:border-lime-500">
            <span>Leave a tip</span>
            <div
              class="
                h-5 w-5 shrink-0 border-2 border-dashed border-slate-400
                rounded-full
              "
            ></div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</article>
